<!--
body {
  font-size: 10pt;
  color: #78D0FF;
  font-family: Verdana, Arial, Helvetica;
  background-color: #000000;
  padding-left: 5%;
  padding-right: 5%;
  margin-left: 0%;
  margin-right: 0%;
}
a:link {
  color: #00CFFF;
  font-size: 10pt;
  font-family: Verdana, Arial, Helvetica;
  text-decoration: none;
  font-weight: bold;
}
a:visited {
  color: #00CFFF;
  font-size: 10pt;
  text-decoration: none;
  font-family: Verdana, Arial, Helvetica;
  font-weight: bold;
}
a:active {
  color: #FF0000;
  font-size: 10pt;
  text-decoration: none;
  font-family: Verdana, Arial, Helvetica;
  font-weight: bold;
}
a:hover {
  color: #FF0000;
  font-size: 10pt;
  text-decoration: none;
  font-family: Verdana, Arial, Helvetica;
  font-weight: bold;
}
strong {
  font-size: 10pt;
  color: #000088;
  text-decoration: none;
  font-family: Verdana, Arial, Helvetica;
}
small {
  font-size: 4pt;
  color: #6FD0FF;
  text-decoration: none;
  font-family: Verdana, Arial, Helvetica;
}
hr {
  background-color: #bb1111;
  color: #bb1111;
}
h1 {
  text-align: center;
  font-size: 16pt;
  color: #2299ff;
}
h2 {
  text-align: center;
  border-width: medium;
  border-style: outset;
  border-color: silver;
  padding: 2pt;
  font-size: 16pt;
  font-style: italic;
  font-family: Verdana, Arial, Helvetica;
}
h6 {
  font-size: 8pt;
  font-family: Verdana, Arial, Helvetica;
}
table {
  width: 100%;
}
th {
  color: #ccccff;
  font-size: 10pt;
  font-weight: bold;
  font-family: Verdana, Arial, Helvetica;
  background-color: #333333;
}
tr {
  color: #00aaff;
  font-size: 10pt;
  font-family: Verdana, Arial, Helvetica;
  background-color: #222222;
}
select {
  color: #00aaff;
  font-size: 14pt;
  font-family: Verdana, Arial, Helvetica;
  background-color: #222222;
}
input {
  color: #00aaff;
  background-color: #222222;
  font: bold 10pt;
}
button {
  color: #00aaff;
  background-color: #222222;
  font: bold 9pt;
}
textarea {
  color: #00aaff;
  background-color: #222222;
  font: bold 10pt;
  width: 100%;
}
.small {
  font: 6pt;
}

-->
